@import 'tailwindcss';

@theme {
  --font-nunito: Nunito, sans-serif;
  --color-purple-circle: #5452FC;
  --color-purple-circle2: #ADADFA;
  --color-hover-dash: #DEE6F8;
  --color-font-text: #272964;
  --color-font-dash: #A2A2A2;
}

