@import 'tailwindcss';

@theme {
  --font-nunito: 'Nunito', sans-serif;
  --color-purple-circle: #5452fc;
  --color-purple-circle2: #adadfa;
  --color-hover-dash: #dee6f8;
  --color-font-text: #272964;
  --color-font-dash: #a2a2a2;
  --color-font-taxa: #00ec6d;
  --color-font-line: #f6f6f6;
  --color-font-table: #a5a5a5;
  --color-font-text-dash: #303030;
  --color-font-text-aside: #2F4565;
  --color-border-config: #E6E6E6;
  --color-circle-config: #D7D7F8;
  --color-font-text-title: #808080;
  --color-font-ativo: #006737;
  --color-border-ativo: #CCFFE3;
}

@layer base {
  body {
    font-family: var(--font-nunito);
  }
}
